<!-- Maintenance section -->
<div class="p-3">
    <div class="px-3" fxFlex="0 0 100%" fxLayout="column" fxLayoutAlign="center center">
        <div class="mat-subheading-2 text-fira color-highlight-text py-2 m-0">01. Maintenance</div>
        <div class="mat-display-2 text-calibre font-bold pt-2 m-0">I will be back soon!</div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="mat-body-1 color-sub-text text-center py-2" fxFlex.gt-sm="0 0 calc(50%)">Hey there, I am currently
                converting coffee into code. Please reach out to me on the email given below.
            </div>
        </div>
        <a class="mat-body-2 font-thin link">theshishodia@gmail.com</a>
    </div>
</div>
<!-- // Maintenance section -->