<!-- Header section -->
<div class="px-3" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="text-center px-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(75%/2)">
        <div class="mat-subheading-2 text-fira color-highlight-text py-2 m-0">01. About Me</div>
        <div class="mat-display-2 text-calibre font-bold pt-2 m-0">Nice To Meet You!</div>
    </div>
</div>
<!-- // Header section -->
<!-- Introduction section -->
<!-- 75 percent grid length -->
<div class="px-3" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="p-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50%)">
        <div>
            <div class="mat-body-1 color-sub-text py-2">
                Hello! My name is <span class="color-highlight-text">Shivam Shishodia</span>, and I enjoy creating things that live on the internet. My interest in web development started back in 2010 when I decided to try editing custom WordPress themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
            </div>
            <div class="mat-body-1 color-sub-text py-2">
                Fast-forward to today, and I’ve had the privilege of working at a huge corporation and a student-led technical council. Currently, I am working at <span class="color-highlight-text">Dell</span> under MTRC (Make The Right Commitment) pillar, building products for demand and supply space.
            </div>
            <div class="mat-body-1 color-sub-text py-2">
                I focus on building real-time event-driven architectures. My area of interest also includes Web3 and Amazon Web Services (AWS). In my free time, I love solving coding problems.
            </div>
        </div>
    </div>
    <div class="text-center p-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(25%)">
        <img class="img-fluid img-round"
            src="https://avatars.githubusercontent.com/u/21097868?v=4">
    </div>
</div>
<!-- // Introduction section -->