<!-- Header section -->
<div class="px-3" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="about-section text-center px-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(75%/2)">
        <div class="mat-subheading-2 text-fira color-radium py-2 m-0">01. About Me</div>
        <div class="mat-display-2 text-calibre font-bold pt-2 m-0">Nice To Meet You!</div>
    </div>
</div>
<!-- // Header section -->
<!-- Introduction section -->
<div class="px-3" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="p-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50%)">
        <div>
            <div class="mat-body-1 color-grey py-2">
                Hello! My name is <span class="color-radium">Shivam Shishodia</span> and I enjoy creating things that live on the internet. My interest in web development started back in 2010 when I decided to try editing custom Wordpress themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
            </div>
            <div class="mat-body-1 color-grey py-2">
                Fast-forward to today, and I’ve had the privilege of working at a huge corporation, and a student-led technical council. My main focus these days is building accessible, inclusive products and digital experiences at <span class="color-radium">Dell</span> for demand and supply space.
            </div>
            <div class="mat-body-1 color-grey py-2">
                I have also recently started to dwell into web3 technologies and AWS cloud platform. 
            </div>
            <div class="mat-body-1 color-grey py-2">
                Here are a few technologies I’ve been working with recently.
            </div>
        </div>
    </div>
    <div class="text-center p-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(25%)">
        <img class="img-fluid img-round"
            src="https://pbs.twimg.com/profile_images/1471439996473077760/hKr7ZXB8_400x400.jpg">
    </div>
</div>
<!-- // Introduction section -->