<!-- Punch line section -->
<div class="p-3" fxLayout="row" fxLayoutAlign="center center">
    <div class="px-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(80%)">
        <div class="mat-display-1 font-bold text-center m-0">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.</div>
        <div class="mat-subheading-2 text-center p-2 mb-0">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.</div>
    </div>
</div>
<!-- // Punch line section -->