<!-- Punch line section -->
<div class="p-3" fxLayout="row" fxLayoutAlign="center center">
    <div class="px-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(75%)">
        <div class="mat-subheading-2 text-fira color-radium py-2 m-0">Hi, my name is</div>
        <div class="mat-display-2 text-calibre font-bold py-3 m-0">Shivam Shishodia.</div>
        <div class="mat-display-2 text-calibre color-grey font-bold py-2 m-0">I build things for the web.</div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="mat-body-1 color-grey py-2" fxFlex.gt-sm="0 0 calc(75%)">I’m a <span class="color-radium">software engineer</span> specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building applications for demand and supply space at <a class="color-radium" target="_blank" href="https:dell.com">Dell</a>. My area of focus includes developing Web3 technologies and AWS.
            </div>
        </div>
    </div>
</div>
<!-- // Punch line section -->

<!-- Break tag -->
<!-- <hr class="hr-custom" /> -->
<!-- // Break tag -->

<!-- About section -->
<app-about></app-about>
<!-- // About section -->