<!-- Experience section -->
<div class="p-3" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="text-center px-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(75%/2)">
        <div class="mat-subheading-2 text-fira color-highlight-text py-2 m-0">01. Experience</div>
        <div class="mat-display-2 text-calibre font-bold pt-2 m-0">Capable. Consistent.</div>
    </div>
</div>
<div class="px-3" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="p-3" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(75%/3)" *ngFor="let experience of experiences">
        <mat-card class="experience-card">
            <mat-card-title>{{experience.position}}</mat-card-title>
            <mat-card-subtitle>{{experience.company}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{experience.organisation}}</p>
                <p>{{experience.breif}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- // Introduction section -->