<!-- Footer section -->
<div class="p-3">
    <div class="footer-section px-3" fxFlex="0 0 100%" fxLayout="column" fxLayoutAlign="center center">
        <div class="mat-subheading-2 text-fira color-radium py-2 m-0">02. Contact</div>
        <div class="mat-display-2 text-calibre font-bold pt-2 m-0">Get In Touch</div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="mat-body-1 color-grey text-center py-2" fxFlex.gt-sm="0 0 calc(50%)">Although I’m not currently
                looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say
                hi, I’ll try my best to get back to you!
            </div>
        </div>
        <a class="mat-body-2 font-thin link">shivam@shishodia.com</a>
        <div class="p-3" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">
            <a class="mat-body-2 font-thin link" target="_blank" href="https://in.linkedin.com/in/shivam-shishodia">LinkedIn</a>
            <a class="mat-body-2 font-thin link" target="_blank" href="https://github.com/shivamshishodia">Github</a>
            <a class="mat-body-2 font-thin link" target="_blank" href="https://leetcode.com/shivamshishodia">Leetcode</a>
            <a class="mat-body-2 font-thin link" target="_blank" href="https://twitter.com/shivamshishodia">Twitter</a>
            <a class="mat-body-2 font-thin link">Resume</a>
        </div>
        <!-- Inspired by Brittany Chiang -->
        <div class="m-2 mat-body-2 text-fira color-radium font-thin text-center">Designed and Developed by Shivam Shishodia</div>
    </div>
</div>
<!-- // Footer section -->