a {
    text-decoration: none !important;
    color: inherit !important;
}

// Fonts
.text-fira {
    font-family: "firacode", "Inter", "Roboto Mono", monospace !important;
}

.text-calibre {
    font-family: "calibre", "Inter", sans-serif !important;
}

// Font weight {
.font-thin {
    font-weight: 300 !important;
}

// Font color
a:hover {
    color: #8f4728 !important;
}

.color-highlight-text {
    color: #8f4728 !important;
}

.color-sub-text {
    color: #68513e !important;
}

// Extra
.hr-custom {
    margin: auto;
    color: #68513e!important;
    width: 75%!important;
}
