a {
    text-decoration: none !important;
    color: inherit !important;
}

a:hover {
    color: #64ffda !important;
}

// Fonts
.text-fira {
    font-family: "firacode", "Inter", "Roboto Mono", monospace !important;
}

.text-calibre {
    font-family: "calibre", "Inter", sans-serif !important;
}

// Font weight {
.font-thin {
    font-weight: 300 !important;
}

// Font color
.color-radium {
    color: #64ffda !important;
}

.color-grey {
    color: #8892b0 !important;
}

// Extra
.hr-custom {
    margin: auto;
    color: #58fbda!important;
    width: 75%!important;
}
