<!-- Header section -->
<div class="p-3">
    <div class="px-3" fxFlex="0 0 100%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a class="mat-body-2" target="_blank" href="https://in.linkedin.com/in/shivam-shishodia">LinkedIn</a>
        <a class="mat-body-2" target="_blank" href="https://github.com/shivamshishodia">Github</a>
        <a class="mat-body-2" target="_blank" href="https://leetcode.com/shivamshishodia">Leetcode</a>
        <a class="mat-body-2 color-highlight-text" target="_blank" href="https://github.com/shivamshishodia/resume/raw/main/Shivam_Shishodia_Resume.pdf">Resume</a>
    </div>
</div>
<!-- // Header section -->